body {
    font-family: sans-serif;
    border-collapse: ;
   
}
header{
    background-color:#C30083 ;
   height: 49px;
   width: 100%;
}
header a{
    
    top:10px;
    position: relative;
    font-size: x-large;
    color: #AEF100;
    text-decoration: none;
    background-color:#c30083 ;
    border:1px solid  #C30083 ;
    padding: 9px;
}
.link-header:hover{
background-color:#8f005f ; 
 
}
nav{
    text-align: center;
    display: flex;
    justify-content: center;
}
.link-nav {
    top:10px;
    position: relative;
    font-size: x-large;
    color: #9F0013;
    text-decoration: none;
   border: 5px solid #c30083;
    margin: 20px;
    text-align: center;
    border-radius: 7px;
    background-color: white;

}
 
    
h1{
    text-align: center;
    color: #41046F;
}
li span{
    background: #E768AD;
    color: #C7F66F;
    font-size: 20px;
    
}
main img{
     border-right:5px solid #41046F ;
    border-bottom:5px solid #41046F ;
    border-left:5px solid #C4F83E;
    border-top:5px solid #C4F83E ;
}
main a{
    text-decoration: none;
    color:#A21425;
}
.link-nav:hover{
background-color: rgba(177, 177, 177, 0.48);
transition: 1s;
transform:  scaleX(1.2) scaleY(1.2) scaleZ(1.2);
}
