body {
    font-family: sans-serif;
    background-color: #dfc9f0ce;
}
header{
    background-color:#C30083 ;
   height: 50px;
   width: 100%;
}
header a{
    left: 10px;
    top:10px;
    position: relative;
    font-size: x-large;
    color: #AEF100;
    text-decoration: none;
}
.link-header:hover{
    border-right:5px solid #9F0013 ;
    border-bottom:5px solid #9F0013 ;
    border-left:5px solid #41046F;
    border-top:5px solid #41046F ;
 
}
nav{
    text-align: center;
}
.link-nav {
    top:10px;
    position: relative;
    font-size: x-large;
    color: #9F0013;
    text-decoration: none;
    border-right:5px solid #41046F ;
    border-bottom:5px solid #41046F ;
    border-left:5px solid #C4F83E;
    border-top:5px solid #C4F83E ;
    margin: 10px;
    text-align: center;
 
    
}
h1{
    text-align: center;
    color: #41046F;
}
li span{
    background: #E768AD;
    color: #C7F66F;
    font-size: 20px;
    
}
main img{
     border-right:5px solid #41046F ;
    border-bottom:5px solid #41046F ;
    border-left:5px solid #C4F83E;
    border-top:5px solid #C4F83E ;
}
main a{
    text-decoration: none;
    color:#A21425;
}
